/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%);
	/* TODO: Obsolete Above This Line */
	--main-bg-color: #F0EFEC;
	--primary-color: #FF8F00;
	--secondary-blue: #00B0FF;
	--secondary-slate: #B0BEC5;
	--tertiary-color: #B3E5FC;
	--main-black: #292626;
	--secondary-black: #ACACAC;

}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Light.ttf') format('TrueType');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-LightItalic.ttf') format('TrueType');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Regular.ttf') format('TrueType');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-talic.ttf') format('TrueType');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Bold.ttf') format('TrueType');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-BoldItalic.ttf') format('TrueType');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-Black.ttf') format('TrueType');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	src: url('/fonts/Merriweather-BlackItalic.ttf') format('TrueType');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}


body {
	font-family: 'Merriweather', serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--main-bg-color);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--main-black);
	font-size: 20px;
	line-height: 1.7;
}

main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 3em 1em;
}

h1 {
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
}


h2 {
	font-size: 30px;
	font-weight: 400;
	line-height: 40px;
	
}

h3 {
	font-size: 25px;
	font-weight: 400;
	line-height: 35px;

}

h4 {
	font-size: 20px;
	font-weight: 400;
	line-height: 20px;

}

h5 {
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	
}

h6 {
	width: 100%;
	text-align: center;
	font-weight: 400;
}

strong,
b {
	font-weight: 700;
}


p, ol {
	font-size: 16px;
	font-weight: 400;
	margin: 10px;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--primary-color);
	padding: 10px;
	margin: 0px;
	font-size: 1.333em;
}

blockquote p {
	color: var(--secondary-black);
	font-size: 1.3em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
	body {
		font-size: 16px;
	}

	main {
		padding: 1em;
	}

	header {
		height: 170px;
		flex-direction: column;
	}

	h1 {
		font-size: 20px;
		line-height: 20px;
	}

	p {
		font-size: 16px;
		line-height: 1.5;
	}

	div .button {
		border-radius: 4px;
		color: #FFF;
		font-size: 16px;
		margin: 5px;
		padding: 5px;
		max-width: 120px;
		display:
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	color: #FFF;
	background-color: var(--primary-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px
}

.gutter-outer {
	padding-left: 20px;
	padding-right: 20px;
}

.logo {
	margin: 10px;
}

.button {
	border-radius: 4px;
	color: #FFF;
	font-size: 18px;
	margin: 10px;
	padding: 10px;
	max-width: 200px;
}

.bg-secondary {
	background-color: var(--secondary-slate);
}

.bg-primary {
	background-color: var(--primary-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ol a {
	color: var(--secondary-blue);
}

p a {
	color: var(--secondary-blue);
}