---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="gutter-outer">
	<a href="/">
		<div class="logo">
			<svg
				width="222"
				height="53"
				viewBox="0 0 222 53"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M195.482 48.2768C195.028 48.2768 194.62 48.1181 194.258 47.8008C193.941 47.4835 193.782 47.0755 193.782 46.5769V31.9579L178.007 2.85578C177.962 2.71979 177.916 2.60647 177.871 2.51581C177.826 2.37982 177.803 2.24382 177.803 2.10783C177.803 1.74519 177.939 1.42788 178.211 1.1559C178.528 0.838588 178.891 0.679932 179.299 0.679932H187.798C188.478 0.679932 188.999 0.861249 189.362 1.22389C189.77 1.5412 190.019 1.83585 190.11 2.10783L199.901 19.6507L209.693 2.10783C209.829 1.83585 210.078 1.5412 210.441 1.22389C210.849 0.861249 211.393 0.679932 212.073 0.679932H220.572C220.98 0.679932 221.32 0.838588 221.592 1.1559C221.864 1.42788 222 1.74519 222 2.10783C222 2.24382 221.977 2.37982 221.932 2.51581C221.932 2.60647 221.909 2.71979 221.864 2.85578L206.021 31.9579V46.5769C206.021 47.0755 205.862 47.4835 205.545 47.8008C205.228 48.1181 204.82 48.2768 204.321 48.2768H195.482Z"
					fill="#FF8F00"></path>
				<path
					d="M156.195 48.9568C151.662 48.9568 147.899 48.3221 144.907 47.0529C141.916 45.7383 139.649 44.0384 138.108 41.9532C136.567 39.868 135.751 37.6468 135.66 35.2897C135.66 34.927 135.796 34.6097 136.068 34.3377C136.385 34.0204 136.748 33.8618 137.156 33.8618H145.723C146.358 33.8618 146.834 33.9751 147.151 34.2017C147.514 34.4284 147.831 34.723 148.103 35.0857C148.466 35.7656 148.965 36.4229 149.599 37.0576C150.279 37.6922 151.14 38.2135 152.183 38.6215C153.271 38.9841 154.608 39.1654 156.195 39.1654C158.824 39.1654 160.796 38.7574 162.11 37.9415C163.47 37.1255 164.15 36.0149 164.15 34.6097C164.15 33.6124 163.788 32.7965 163.062 32.1619C162.337 31.4819 161.158 30.8926 159.526 30.394C157.94 29.85 155.809 29.3061 153.135 28.7621C149.69 28.0368 146.743 27.1075 144.295 25.9743C141.893 24.7957 140.057 23.2771 138.788 21.4186C137.519 19.5147 136.884 17.1575 136.884 14.3471C136.884 11.5819 137.655 9.1114 139.196 6.93554C140.782 4.75968 142.981 3.0598 145.791 1.83588C148.602 0.611956 151.934 0 155.787 0C158.915 0 161.657 0.407971 164.014 1.22392C166.417 2.03986 168.434 3.1278 170.066 4.4877C171.698 5.84762 172.922 7.29818 173.738 8.83941C174.599 10.3353 175.052 11.8085 175.097 13.2591C175.097 13.6218 174.961 13.9617 174.689 14.2791C174.417 14.551 174.077 14.687 173.67 14.687H164.694C164.195 14.687 163.765 14.5964 163.402 14.415C163.04 14.2337 162.722 13.9391 162.45 13.5311C162.178 12.5338 161.453 11.6726 160.274 10.9473C159.141 10.1767 157.645 9.79135 155.787 9.79135C153.792 9.79135 152.228 10.154 151.095 10.8793C150.007 11.5592 149.463 12.6245 149.463 14.0751C149.463 14.9817 149.758 15.775 150.347 16.4549C150.982 17.1349 152.002 17.7242 153.407 18.2228C154.857 18.7214 156.829 19.2427 159.322 19.7867C163.448 20.5573 166.779 21.5319 169.318 22.7105C171.856 23.8438 173.715 25.3397 174.893 27.1982C176.072 29.0114 176.661 31.3006 176.661 34.0657C176.661 37.1482 175.777 39.8227 174.01 42.0892C172.287 44.3104 169.884 46.0103 166.802 47.1889C163.72 48.3675 160.184 48.9568 156.195 48.9568Z"
					fill="#FF8F00"></path>
				<path
					d="M120.367 52.6965C119.642 52.6965 119.075 52.4925 118.667 52.0846C118.304 51.7219 118.01 51.4046 117.783 51.1326L115.471 48.0728C113.703 48.6621 111.686 48.9568 109.42 48.9568C105.249 48.9568 101.623 48.2768 98.5404 46.9169C95.5033 45.557 93.1007 43.5171 91.3329 40.7973C89.6103 38.0322 88.681 34.587 88.545 30.462C88.4997 28.5128 88.4771 26.5636 88.4771 24.6144C88.4771 22.6652 88.4997 20.6933 88.545 18.6988C88.681 14.619 89.633 11.1966 91.4009 8.43144C93.1687 5.62096 95.5939 3.5131 98.6764 2.10786C101.759 0.702619 105.34 0 109.42 0C113.545 0 117.148 0.702619 120.231 2.10786C123.313 3.5131 125.739 5.62096 127.506 8.43144C129.274 11.1966 130.226 14.619 130.362 18.6988C130.453 20.6933 130.498 22.6652 130.498 24.6144C130.498 26.5636 130.453 28.5128 130.362 30.462C130.09 36.0829 128.458 40.4347 125.467 43.5171L130.43 50.5887C130.476 50.634 130.521 50.7246 130.566 50.8606C130.612 50.9966 130.634 51.1326 130.634 51.2686C130.68 51.6313 130.566 51.9486 130.294 52.2206C130.022 52.5379 129.682 52.6965 129.274 52.6965H120.367ZM109.42 39.1654C111.822 39.1654 113.771 38.4401 115.267 36.9896C116.809 35.539 117.624 33.2271 117.715 30.054C117.806 28.0595 117.851 26.1783 117.851 24.4104C117.851 22.6425 117.806 20.8066 117.715 18.9027C117.67 16.7722 117.284 15.0497 116.559 13.7351C115.834 12.3752 114.859 11.3779 113.635 10.7433C112.411 10.1087 111.006 9.79135 109.42 9.79135C107.878 9.79135 106.496 10.1087 105.272 10.7433C104.048 11.3779 103.073 12.3752 102.348 13.7351C101.623 15.0497 101.238 16.7722 101.192 18.9027C101.147 20.8066 101.124 22.6425 101.124 24.4104C101.124 26.1783 101.147 28.0595 101.192 30.054C101.283 33.2271 102.076 35.539 103.572 36.9896C105.113 38.4401 107.062 39.1654 109.42 39.1654Z"
					fill="#FF8F00"></path>
				<path
					d="M48.7124 48.2768C48.2138 48.2768 47.8058 48.1181 47.4885 47.8008C47.1712 47.4835 47.0125 47.0755 47.0125 46.5769V2.37982C47.0125 1.88118 47.1712 1.47321 47.4885 1.1559C47.8058 0.838588 48.2138 0.679932 48.7124 0.679932H80.4663C80.9649 0.679932 81.3729 0.838588 81.6902 1.1559C82.0075 1.47321 82.1662 1.88118 82.1662 2.37982V8.7714C82.1662 9.27003 82.0075 9.678 81.6902 9.99531C81.3729 10.3126 80.9649 10.4713 80.4663 10.4713H58.7757V19.6507H78.9704C79.469 19.6507 79.877 19.832 80.1943 20.1946C80.5116 20.512 80.6703 20.9199 80.6703 21.4186V27.3342C80.6703 27.7875 80.5116 28.1954 80.1943 28.5581C79.877 28.8754 79.469 29.0341 78.9704 29.0341H58.7757V38.4854H81.0103C81.5089 38.4854 81.9169 38.6441 82.2342 38.9614C82.5515 39.2787 82.7102 39.6867 82.7102 40.1853V46.5769C82.7102 47.0755 82.5515 47.4835 82.2342 47.8008C81.9169 48.1181 81.5089 48.2768 81.0103 48.2768H48.7124Z"
					fill="#FF8F00"></path>
				<path
					d="M1.69989 48.2768C1.20125 48.2768 0.793281 48.1181 0.475969 47.8008C0.158656 47.4835 0 47.0755 0 46.5769V2.37982C0 1.88118 0.158656 1.47321 0.475969 1.1559C0.793281 0.838588 1.20125 0.679932 1.69989 0.679932H20.1947C26.0423 0.679932 30.6433 2.03984 33.9978 4.75966C37.3975 7.43415 39.0974 11.2419 39.0974 16.1829C39.0974 19.4014 38.3041 22.1212 36.7176 24.3424C35.1763 26.5635 33.1365 28.2408 30.598 29.374L39.9814 46.1009C40.1173 46.3729 40.1853 46.6222 40.1853 46.8489C40.1853 47.2115 40.0267 47.5515 39.7094 47.8688C39.4374 48.1408 39.0974 48.2768 38.6894 48.2768H29.714C28.8528 48.2768 28.2181 48.0728 27.8102 47.6648C27.4022 47.2115 27.1075 46.8035 26.9262 46.4409L19.1747 31.4819H12.1712V46.5769C12.1712 47.0755 12.0125 47.4835 11.6952 47.8008C11.3779 48.1181 10.9699 48.2768 10.4713 48.2768H1.69989ZM12.1712 21.8945H20.0587C22.1892 21.8945 23.7758 21.3732 24.8184 20.3306C25.9063 19.288 26.4503 17.8601 26.4503 16.0469C26.4503 14.279 25.929 12.8511 24.8864 11.7632C23.8891 10.6753 22.2799 10.1313 20.0587 10.1313H12.1712V21.8945Z"
					fill="#FF8F00"></path>
			</svg>
		</div>
	</a>
	<a href="/">
		<div>
			<h1>Product People</h1>
		</div>
	</a>
	<div style="display: flex; flex-direction: row;">
		<a href="https://reqsy.co" target="_blank">
			<div class="button bg-primary">Learn More...</div>
		</a>
	</div>
</header>
